* {
  box-sizing: border-box;
}

.gameinfo {
  grid-area: info;
  width: 100%;
  /*  border: 1vmin solid black;*/
}
.statusbox {
  grid-area: status;
}

.gameboard {
  grid-area: board;
}
.reset {
  background-color: aquamarine;
  border: 0.5vmin solid rgb(0, 0, 0);
  font-size: 3vmin;
  font-weight: bolder;
  text-align: center;
  width: 19.5vmin;
  margin: 2vmin;
}

.reset:focus {
  outline: none;
  background-color: rgb(23, 142, 233);
}

.resetcontainer {
  grid-area: reset;
}
.Game {
  display: grid;
  grid-template-areas:
    "status reset info"
    "board board info";
  grid-template-columns: 36.5vmin 23vmin;
  /* border: 1vmin solid black;*/
  width: 100%;
}

@media screen and (max-width: 480px) {
  .Game {
    display: inline-block;
    text-align: center;
    grid-template-areas:
      "status status"
      "reset reset"
      "board board"
      "info info";
  }
  .gameboard {
    display: inline-block;
  }
  .statusbox {
    width: 100%;
    float: inline-block;
  }
  .resetcontainer {
    width: 100%;
    float: inline-block;
  }
}
