* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

.history,
.toggle,
.togglereversed {
  background-color: aquamarine;
  border: 1vmin solid rgb(0, 0, 0);
  font-size: 6vmin;
  text-align: center;
  width: 40vmin;
  margin-bottom: 3vmin;
  margin: 5vmin;
}

.history {
  margin: 0;
  margin-left: -5vmin;
}

.history:focus,
.toggle:focus,
.togglereversed:focus {
  outline: none;
}

.togglereversed,
.current {
  background-color: rgb(23, 142, 233);
}

@media screen and (max-width: 480px) {
}
