.square {
  background: #fff;
  float: left;
  width: 20vmin;
  height: 20vmin;
  border: 1vmin solid rgb(0, 0, 0);
  font-size: 20vmin;
  font-weight: bold;
  line-height: 2vmin;
 margin-right: -1vmin;
   margin-top: -1vmin;
  text-align: center;
}

.square:hover {
  background-color: aquamarine;
}

.winner {
  background-color: aquamarine;
}

.square:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .square {
    float: left;
    width: 20vmin;
    height: 20vmin;
    border: 1vmin solid rgb(0, 0, 0);
    font-size: 20vmin;
    font-weight: bold;
    line-height: 2vmin;
    margin-right: -1vmin;
    margin-top: -1vmin;
  }
}
