.board {
  display: inline-grid;
  grid-template-columns: repeat(7, 12vmin);
  grid-template-rows: repeat(6, 12vmin);
  background-color: rgb(36, 215, 206);
  border: lightseagreen solid 1.5vmin;
}

.red {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: lightseagreen solid 0.1vmin;
  background-color: lightcoral;
  z-index: 10;
}

.yellow {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: lightseagreen solid 0.1vmin;
  background-color: rgb(228, 201, 90);
  z-index: 10;
}
