* {
  box-sizing: border-box;
  font-size: 5vmin;
  margin-bottom: 1vmin;
}

.statusBox {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
}

.red,
.yellow {
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%;
  border: black solid;
}

.red {
  background-color: lightcoral;
}

.yellow {
  background-color: rgb(228, 201, 90);
}
