*{
  box-sizing: border-box;
}

.game-info {
  grid-area: info;
  width: 100%;
  border: 1vmin solid black;
}
.status-box {
  grid-area: status;
}

.game-board {
  grid-area: board;
}
.reset {
  background-color: aquamarine;
  border: 0.5vmin solid rgb(0, 0, 0);
  font-size: 3vmin;
  font-weight: bolder;
  text-align: center;
  width: 19.5vmin;
  margin: 2vmin;
}
.reset-container{
  grid-area: reset;
}
.game {
  display: grid;
  grid-template-areas:
  'status reset info'
  'board board info';
  grid-template-columns: 36.5vmin 23vmin ;
  border: 1vmin solid black;
  width: 100%

}

@media screen and (max-width: 480px) {
  .game{
    display: inline-block;
    text-align: center;
    grid-template-areas: 
    'status status'
    'reset reset'
    'board board' 
    'info info';
  }
  .game-board{
    display: inline-block;
  }
  .status-box{
    width: 100%;
    float: inline-block;
  }
  .reset-container{
    width: 100%;
    float: inline-block;
  }
}
