@import "./colorScheme.css";

.nav {
  height: 8vh;
  background-color: var(--nav-bgcolor);
  color: var(--nav-color);
  margin-bottom: 3vh;
  outline: 2vh solid var(--nav-select-bgcolor);
}

.drop .dropButton {
  background-color: var(--nav-select-bgcolor);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0px;
  border: none;
  outline: none;
  height: 8vh;
  min-width: 20vmin;
}
.drop {
  float: left;
  overflow: hidden;
}

.dropButton:hover,
.dropButton:focus,
.dropButton {
  color: var(--nav-select-color);
}

.dropContent {
  display: none;
  position: absolute;
  background-color: var(--nav-drop-bgcolor);
  color: var(--nav-drop-color);
  box-shadow: 0vmin 0.75vmin 2vmin 0vmin;
  z-index: 1;
}

.dropContent .link {
  text-decoration: none;
  background-color: var(--nav-drop-bgcolor);
  color: var(--nav-drop-color);
  display: inline-block;
  text-align: center;
  margin: 0;
  padding-top: 2.5vmin;
  height: 10vmin;
  width: 100%;
}

.drop .link:hover,
.drop .link:focus {
  background-color: var(--nav-select-bgcolor);
  color: var(--nav-select-color);
}

.drop:hover .dropContent,
.drop:focus .dropContent {
  display: block;
}
