* {
  box-sizing: border-box;
  text-decoration: none;
}

.app {
  text-align: center;
  background-color: white;
  width: 100%;
/*  border: solid black 1vmin;*/
}

.nav {
  overflow: hidden;
  min-height: 10vmin;
  background-color: rgba(255, 166, 0, 0.65);
  color: black;
}



.drop .dropButton {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  border: none;
  outline: none;
  min-height: fit-content;
  min-width: 20vmin;
}
.drop {
  float: left;
  overflow: hidden;
}

.drop:hover,
.dropButton {
  background-color: orange;
  color: white;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  box-shadow: 0vmin 0.75vmin 2vmin 0vmin;
  z-index: 1;
}

.dropContent .link {
  text-decoration: none;
  background-color: white;
  color: rgb(0, 0, 0);
  display: inline-block;
  text-align: center;
  padding: 0;
  padding-top: 2.5vmin;
  height: 10vmin;
  width: 100%;
}

.dropContent .link:hover {
  background-color: orange;
  color: white;
}

.drop:hover .dropContent {
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 3vmin;
  outline: solid black 1vmin;
}

.card {
  grid-template-rows: 20vmin;
  outline: solid black 1vmin;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
