.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.reset {
  background-color: aquamarine;
  border: 0.5vmin solid rgb(0, 0, 0);
  font-size: 3vmin;
}

@media screen and (max-width: 480px){
  .game{
      display: flex;
      flex-direction: column;
  }
  .game-board{
   width:100vmin; 
  }
  .game-info {
    width:100vmin;
  }
}