ol,
ul {
  padding-left: 5vmin;
  font-size: 3vmin;
}

.toggle,
.history {
  background-color: aquamarine;
  text-align: center;
  border: 0.5vmin solid #000000;
  font-size: 3vmin;
  width:20vmin;
}

.current {
  background-color: rgb(23, 142, 233);
}
