.square {
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 10vmin;
  height: 10vmin;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vmin;
}

.square:hover {
  background-color: aquamarine;
}

.squareWinner {
  background-color: aquamarine;
}

.square:focus {
  outline: none;
}
